/* Navigation mit Hintergrundbild */


.navbar {
  width: 100%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Bild links, Navigation zentriert */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/img.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.navbar-left img {
  height: 140px;
  width: auto;
  cursor: pointer;
  margin-left: 30px; /* Optional: Abstand zum linken Rand */
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
}

.navbar-middle ul {
  display: inline-flex;
  list-style: none;
}

.navbar-middle ul li {
  position: relative;
  margin: 0 20px;
}

.navbar-middle ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: large;
}

/* Hover-Effekt für die Links */
.navbar-middle ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: dodgerblue;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.navbar-middle ul li:hover::after {
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 50%; /* Setze die maximale Breite auf 50% */
  margin: 20px auto; /* zentrieren */
}

.carousel img {
  width: 100%; /* Volle Breite des Containers */
  height: auto; /* Auto Höhe für proportionale Darstellung */
  display: none; /* Alle Bilder standardmäßig ausblenden */
}

.carousel img.active {
  display: block; /* Aktives Bild anzeigen */
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: white;
}

.carousel {
  position: relative;
  max-width: 70%;
  height: 40%;
  margin: 20px auto;
  padding-left: 28%;/* Zentriert den Container */
}

.carousel img {
  width: 60%;
  max-height: 37em;/* Volle Breite des Containers */
  height: auto;
  /* Proportionale Höhe */
  display: none; /* Standardmäßig alle Bilder ausblenden */
  border-radius: 25px; /* Runden der Ecken */
}


@media (max-width: 768px) {
  .boxCarousel {
    max-width: 100%; /* Maximale Breite auf 100% setzen für mobile Ansicht */
    margin-right: auto; /* Zentriert den Container */
    /* Etwas Padding, falls nötig */
  }

  .carousel img {
    width: 100%; /* Bilder auf 100% der Containerbreite setzen */
    height: auto; /* Höhe bleibt automatisch im richtigen Verhältnis */
    display: block; /* Alle Bilder werden sichtbar */
  }
}
