/* Navigation mit Hintergrundbild */
.navbar {
  width: 100%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Bild links, Navigation zentriert */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/img.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.navbar-left img {
  height: 140px;
  width: auto;
  cursor: pointer;
  margin-left: 30px; /* Optional: Abstand zum linken Rand */
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
}

.navbar-middle ul {
  display: inline-flex;
  list-style: none;
}

.navbar-middle ul li {
  position: relative;
  margin: 0 20px;
}

.navbar-middle ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: large;
}

/* Hover-Effekt für die Links */
.navbar-middle ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: dodgerblue;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.navbar-middle ul li:hover::after {
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 50%; /* Setze die maximale Breite auf 50% */
  margin: 20px auto; /* zentrieren */
}

.carousel img {
  width: 100%; /* Volle Breite des Containers */
  height: auto; /* Auto Höhe für proportionale Darstellung */
  display: none; /* Alle Bilder standardmäßig ausblenden */
}

.carousel img.active {
  display: block; /* Aktives Bild anzeigen */
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: white;
}
.boxCarousel {
  padding-top: 50px;
  padding-bottom: 90px;
  height: 45em;
  width: auto;
  margin: auto;
 }

.carousel img {
  height: 30em;
  width: 42em;
  margin: auto;
  border-radius: 25px;

}
