

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 50%; /* Setze die maximale Breite auf 50% */
  margin: 20px auto; /* zentrieren */
}

.carousel img {
  width: 100%; /* Volle Breite des Containers */
  height: auto; /* Auto Höhe für proportionale Darstellung */
  display: none; /* Alle Bilder standardmäßig ausblenden */
}

.carousel img.active {
  display: block; /* Aktives Bild anzeigen */
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: white;
}

.boxCarousel {
  padding-top: 50px;
  padding-bottom: 90px;
  height: 45em;
  width: auto;
  margin: auto;
}

.carousel img {
  height: 30em;
  width: 42em;
  margin: auto;
  border-radius: 25px;

}
