/* Navigation mit Hintergrundbild */
.navbar {
  width: 100%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Bild links, Navigation zentriert */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/img.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.navbar-left img {
  height: 140px;
  width: auto;
  cursor: pointer;
  margin-left: 30px; /* Optional: Abstand zum linken Rand */
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
}

.navbar-middle ul {
  display: inline-flex;
  list-style: none;
}

.navbar-middle ul li {
  position: relative;
  margin: 0 20px;
}

.navbar-middle ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: large;
}

/* Hover-Effekt für die Links */
.navbar-middle ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: dodgerblue;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.navbar-middle ul li:hover::after {
  width: 100%;
}

.navbar-right button {
  background-color: rgba(255, 255, 255, 0.8); /* Halbtransparente weiße Buttons */
  color: dodgerblue;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 5px;
}

.navbar-right button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 10px rgba(57, 52, 255, 0.3);
}

.navbar-right button:active {
  background-color: lightblue;
  color: dodgerblue;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background: #35424a;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #35424a;
}
.search {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 70%;
  height: 50px;
  font-size: 20px;
}
input[type="submit"] {
  padding: 10px 50px ;
  background: #35424a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 20px;

}
input[type="submit"]:hover {
  background: #4e5b62;
}
.event {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
